@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background: linear-gradient(to bottom right, #3b82f6, #16dfa3, #e1e45d);
    color: #111827;
  }

  h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}

@layer components {
  .modal {
    background: linear-gradient(to bottom, #42a5f5, #29b6f6);
    color: #111827;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .simcity-card {
    background: linear-gradient(to bottom, #42a5f5, #29b6f6);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .simcity-button {
    background-color: #fcd971;
    color: maroon;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
  }

  .simcity-button:hover {
    background-color: #ffb300;
    transform: translateY(-1px);
  }

  .item-card {
    background: linear-gradient(to bottom, #42a5f5, #29b6f6);
    border-radius: 0.75rem;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: relative;
    transition: transform 0.2s ease;
  }

  .item-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 20px -3px rgba(0, 0, 0, 0.2), 0 6px 10px -2px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .item-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .dropdown {
    background: linear-gradient(to bottom, #29b6f6, #42a5f5);
    color: white;
    border: 2px solid #16dfa3; /* Aggressive outline matching the page gradient */
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 6px 8px -2px, 0 3px 5px -1px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
  }

  .dropdown:hover {
    background: linear-gradient(to bottom, #16dfa3, #3b82f6); /* Transition to page gradient colors */
    border-color: #e1e45d; /* Highlight with another page gradient color */
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 6px 10px -2px rgba(0, 0, 0, 0.15);
  }

  .glass-card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease;
  }

  .glass-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 12px 20px -3px rgba(0, 0, 0, 0.2), 0 6px 10px -2px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
}
